PORT=3000
STORE_BASE_URL=https://demo.inelabteamdev.com
BROWSER_EXECUTABLE_PATH=
SUPABASE_URL=
SUPABASE_ANON_KEY=sb_publishable_phnz5G8rjaNataaPnNUUmg_pWkEuLEB
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_phnz5G8rjaNataaPnNUUmg_pWkEuLEB
DATABASE_URL=
CRON_SECRET=change-me
